extends ../layout
include ../comments

block content
  .main
    .container
      .content
        .post
          .top
            h2 #{post.title}
          .body
            p !{post.body}
          .bottom
            .author
              | Автор:
              a(href=`/users/${post.owner.login}`) #{post.owner.login}
        div(id=post.id).comments
          h3 Комментарии
          .comment-list
            +comments(comments)
            //span.link Оставить комментарий
            form.comment
              textarea(name="body")
              .buttons
                button.cancel.secondary Отмена
                button.send Отправить
      include ../sidebar